{% extends "background/PostList.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome To My Webpage!</title>

     </head>
    {% block content %}
<body>
 <div style="background-color:lightblue">
  <center><h2>Welcome to <em>My Website.</em></h2></center>
 </div>

  <center><p>A simple website created with the purpose of practicing Django :-).</p></center>
</body>


<body>

  <div>
      <center><p>Created Wednesday 6th, June 2018, 12:05 PM</p></center>

                        <center><h4>Thank You!</h4></center>

  </div>
{% endblock %}
</body>

</html>


<hr>
  <div class="container">
      <footer>
    <p>
        Copyright 2018 - All right reserved
        <p><a href="https://twitter.com/MichleNkuimi"><im src={% static 'twitter.png' %}" alt="twitter" style="width:5px;height:5px;"/></a>

    </p>
</footer>
  </div>




