{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Welcome to my webpage</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/background.css' %}">
  

</head>

<body>


    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <img src="{% static 'my_picture.jpg' %}" alt="My image" style="width:150px;height:150px;"/>
          <h2> Home</h2>
          <li><a href="about">My background</a></li>
          <li><a href="https://www.findingdutchland.com/six-fun-trivia-about-utrecht-happiest-places-in-the-world/">My world</a></li>
          <li><a href="https://www.lamborghini.com/en-en/models">My ultimate dream</a></li>
      </ul>
     {% endblock %}
      </div>
        {% include "background/index.html" %}
      <div class="col-sm-10 ">

      </div>
    </div>

  </div>
</body>
</html>
{% endblock %}

